.gallery {
  overflow: hidden;

  &-inner {
    display: flex;
    justify-content: center;
    user-select: none;
    transition: 0.1s transform linear;
  }
}

.gallery-block {
  display: flex;
  max-width: 364px;

  &:not(:last-child) {
    margin-right: 4px;
  }

  &:nth-child(odd) {
    flex-wrap: wrap;

    .image-block-lg {
      margin-bottom: 4px;
    }

    .image-block-sm:last-child {
      margin-left: 4px;
    }
  }

  &:nth-child(even) {
    flex-wrap: wrap-reverse;

    .image-block-lg {
      margin-top: 4px;
    }

    .image-block-sm:last-child {
      margin-left: 4px;
    }
  }

  img {
    width: 100%;
    pointer-events: none;
    user-select: none;
  }


  .image-block-lg {

    width: 100%;
  }

  .image-block-sm {
    width: calc(50% - 2px);
  }
}