.main-menu {
  display: flex;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  color: $white;
  max-width: 885px;
  
  li {
    text-align: center;
    width: (100%/4);

    &:not(:last-child) {
      margin-right: 60px;
    }
  }
  
  a {
    display: block;
  }

  .icon-block {
    font-size: 80px;
    margin: 0 0 15px;
  }
}